# rewrite URL
RewriteEngine On
# global less compiler
RewriteCond %{REQUEST_FILENAME} \.less$ [NC] 
RewriteCond %{DOCUMENT_ROOT}/less.php -f
RewriteRule ^(.+)$ /less.php?%{REQUEST_URI}?%{QUERY_STRING} [L]
# local less compiler
RewriteCond %{REQUEST_FILENAME} \.less$ [NC] 
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.+)$ lessphp/?%{REQUEST_URI}?%{QUERY_STRING} [L]
