
@import "bootstrap.min.css";

@import "content.css";

table td[align=left],table th[align=left] {
    text-align: left;
}
table td[align=center],table th[align=center] {
    text-align: center;
}
table td[align=right],table th[align=right] {
    text-align: right;
}
table td[align=justify],table th[align=justify] {
    text-align: justify;
}
table td[valign=top],table th[valign=top] {
    text-align: top;
}
table td[valign=middle],table th[valign=middle] {
    text-align: middle;
}
table td[valign=bottom],table th[valign=bottom] {
    text-align: bottom;
}
table td[valign=baseline],table th[valign=baseline] {
    text-align: baseline;
}